body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* ======== Common Class======== */

.cmn-flexible-area{
    display: flex;
}

.cmn-width{
    width: 50%;
}
.cmn-color{
    color: #FC8B47;
}
h1{
    font-size: 50px;
    color: #575757;
}
h2{
    color: #575757;
}
.cmn-paragraph{
    font-size: 17px;
    color: #828282;
}
.button-divide{
    padding-bottom: 25px;
}
.cmn-button{
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 15px 28px;
    border-radius: 20px;
}
.cmn-button:hover{
    background-image: linear-gradient(rgb(125, 252, 41), rgb(0, 139, 12));
    color: white;.
}
.cmn-button-divide{
    margin-bottom: 50px;
}
.cmn-img{
    width: 50%;
}

/* ======== Top Class======== */

.top-sec-devide{
    margin-bottom: 100px;
}
.top-img{
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 50px;
}
.about-bg{
    padding: 20px 40px;
}
.top-txt{
    margin-left: 50px;
    margin-top: 50px;
}

/* ======== About Me Class======== */

.about-bg{
    background-image: url(img/shapes/7.png);
    background-repeat: no-repeat;
}
.about-txt-area{
    margin: 100px;
}

/* ======== Recipie Class======== */

.recipie-sec-devide{
    margin-bottom: 100px;
}
.rec-text{
    text-align: center;
    margin-bottom: 50px;    
    margin-top: 50px;    
}
.rec-paragraph{
    margin-left: 340px;
    margin-right: 340px;
}

/* ======= Recipie>Item Class ========= */

.about-sec-devide{
    margin-bottom: 10px;
}
.rec-img-txt-area{
    box-shadow: gray 5px 5px 20px;
    padding: 12px;
    border-radius: 20px;
}
.rec-img-txt-main-div{
    width: 100%;
}
.rec-first{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.rec-second{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
}
.rec-third{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 100px;
    margin-bottom: 0px;
}
.rec-para{
    color: black;
}

/* ======== Followers Class======== */

.one-third-width{
    width: 33.33%;
    text-align: center;
    
}
.follower-box-shadow{
    box-shadow: gray 2px 3px 5px 3px; 
    width: 70%;
    margin-left: 200px;
    padding: 5px;
}
.follower-sec-devide{
    margin-bottom: 100px;

}
.follower-heading{
    color: black;
}
.follower-big-heading{
    text-align: center;
    color: #575757;
    margin-bottom: 80px;
}

/* ======== Footer Class======== */

footer{
    background-color: black;
}
.footer-text{
    color: white;
}
.footer-div{
    text-align: center;
    padding: 50px;
}
.footer-sec-devide{
    padding-bottom: 50px;
}
#copyright{
    color: gray;
    text-align: center;
}
