body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* ======== Common Class======== */

.cmn-flexible-area{
    display: flex;
}
.cmn-sec-devide{
    margin-bottom: 120px;
}
.cmn-width{
    width: 50%;
}
.cmn-color{
    color: #FC8B47;
}
h1{
    font-size: 50px;
    color: #575757;
}
h2{
    color: #575757;
}
.cmn-paragraph{
    font-size: 18px;
    color: #828282;
    padding-bottom: 40px;
}
.cmn-button{
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 22px 40px;
    border-radius: 20px;
}
.cmn-img{
    width: 50%;
}

/* ======== Top Class======== */

.top-img{
    margin-right: 70px;
    margin-top: 5px;
}
.about-bg{
    padding: 20px 40px;
    margin-bottom: 80px;
}
.top-txt{
    margin-left: 50px;
    margin-top: 50px;
}


/* ======== About Me Class======== */

.about-bg{
    background-image: url(img/shape/7.png);
    background-repeat: no-repeat;
}
.about-txt-area{
    padding: 100px;
    width: 100%;
    margin-left: 50px;
}

/* ======== Recipie Class======== */

.recipie-text{
    text-align: center;    
}
.recipie-paragraph{
    padding: 0px;
    margin: 10px 340px;
    margin-bottom: 50px;
}